 .sign-up-form {
    background: rgba(133, 20, 20, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .sign-up-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .sign-up-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sign-up-button {
    background-color: #4caf50;
    color: rgb(100, 63, 63);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sign-up-button:hover {
    background-color: #45a049;
  }